In [1]:
import pandas as pd
import numpy as np

# Dataset
data = {
    "individual": [1,2,3,4,5,6,7,8,9,10],
    "sex": ["Male","Male","Male","Male","Male","Female","Female","Female","Female","Female"],
    "age": [21,43,22,86,60,100,np.nan,43,22,80],
    "IQ": [120,np.nan,135,150,92,130,150,np.nan,84,70],
    "depression": ["Yes","No","No","No","Yes","Yes","Yes","Yes","No","No"],
    "health": ["Very good","Very good","Average","Very poor","Good","Good","Very good","Average","Average","Good"],
    "weight": [150,160,135,140,110,110,120,120,105,100]
}

df = pd.DataFrame(data)

In [2]:
df

   individual     sex    age     IQ depression     health  weight
0           1    Male   21.0  120.0        Yes  Very good     150
1           2    Male   43.0    NaN         No  Very good     160
2           3    Male   22.0  135.0         No    Average     135
3           4    Male   86.0  150.0         No  Very poor     140
4           5    Male   60.0   92.0        Yes       Good     110
5           6  Female  100.0  130.0        Yes       Good     110
6           7  Female    NaN  150.0        Yes  Very good     120
7           8  Female   43.0    NaN        Yes    Average     120
8           9  Female   22.0   84.0         No    Average     105
9          10  Female   80.0   70.0         No       Good     100

In [3]:
# Encode categorical variables
df_encoded = df.copy()
df_encoded["sex"] = df_encoded["sex"].map({"Male":0,"Female":1})
df_encoded["depression"] = df_encoded["depression"].map({"No":0,"Yes":1})
df_encoded["health"] = df_encoded["health"].map({"Very poor":1,"Average":2,"Good":3,"Very good":4})

print("=== Original Data with NA ===")
print(df_encoded)

=== Original Data with NA ===
   individual  sex    age     IQ  depression  health  weight
0           1    0   21.0  120.0           1       4     150
1           2    0   43.0    NaN           0       4     160
2           3    0   22.0  135.0           0       2     135
3           4    0   86.0  150.0           0       1     140
4           5    0   60.0   92.0           1       3     110
5           6    1  100.0  130.0           1       3     110
6           7    1    NaN  150.0           1       4     120
7           8    1   43.0    NaN           1       2     120
8           9    1   22.0   84.0           0       2     105
9          10    1   80.0   70.0           0       3     100

In [8]:
# ---- Q1: Correlation & Covariance (without filling NA) ----
corr_matrix_q1 = df_encoded.corr(numeric_only=True)
cov_matrix_q1 = df_encoded.cov(numeric_only=True)

corr_matrix_q1

,individual,sex,age,IQ,depression,health,weight
individual,1.000000,8.703883e-01,0.282856,-0.563507,-0.034816,-2.487342e-01,-0.877837
sex,0.870388,1.000000e+00,0.260490,-0.274175,0.200000,3.456006e-16,-0.727825
age,0.282856,2.604902e-01,1.000000,0.120651,0.094724,-1.497714e-01,-0.345642
IQ,-0.563507,-2.741749e-01,0.120651,1.000000,0.230655,-7.303901e-02,0.657183
depression,-0.034816,2.000000e-01,0.094724,0.230655,1.000000,4.082483e-01,-0.155963
health,-0.248734,3.456006e-16,-0.149771,-0.073039,0.408248,1.000000e+00,0.212238
weight,-0.877837,-7.278253e-01,-0.345642,0.657183,-0.155963,2.122382e-01,1.000000

In [9]:
cov_matrix_q1

,individual,sex,age,IQ,depression,health,weight
individual,9.166667,1.388889e+00,26.875000,-52.267857,-0.055556,-7.777778e-01,-53.888889
sex,1.388889,2.777778e-01,4.125000,-4.500000,0.055556,1.881211e-16,-7.777778
age,26.875000,4.125000e+00,902.750000,122.261905,1.500000,-4.500000e+00,-222.500000
IQ,-52.267857,-4.500000e+00,122.261905,942.839286,3.785714,-2.321429e+00,368.750000
depression,-0.055556,5.555556e-02,1.500000,3.785714,0.277778,2.222222e-01,-1.666667
health,-0.777778,1.881211e-16,-4.500000,-2.321429,0.222222,1.066667e+00,4.444444
weight,-53.888889,-7.777778e+00,-222.500000,368.750000,-1.666667,4.444444e+00,411.111111

In [10]:
# ---- Q2: Fill missing values with mean ----
df_filled = df_encoded.fillna(df_encoded.mean(numeric_only=True))

corr_matrix_q2 = df_filled.corr(numeric_only=True)
cov_matrix_q2 = df_filled.cov(numeric_only=True)

In [11]:
df_filled

   individual  sex    age       IQ  depression  health  weight
0           1    0   21.0  120.000           1       4     150
1           2    0   43.0  116.375           0       4     160
2           3    0   22.0  135.000           0       2     135
3           4    0   86.0  150.000           0       1     140
4           5    0   60.0   92.000           1       3     110
5           6    1  100.0  130.000           1       3     110
6           7    1   53.0  150.000           1       4     120
7           8    1   43.0  116.375           1       2     120
8           9    1   22.0   84.000           0       2     105
9          10    1   80.0   70.000           0       3     100

In [12]:
corr_matrix_q2

,individual,sex,age,IQ,depression,health,weight
individual,1.000000,8.703883e-01,0.278537,-0.495836,-0.034816,-2.487342e-01,-0.877837
sex,0.870388,1.000000e+00,0.245593,-0.245229,0.200000,3.456006e-16,-0.727825
age,0.278537,2.455926e-01,1.000000,0.092339,0.089306,-1.367219e-01,-0.344342
IQ,-0.495836,-2.452295e-01,0.092339,1.000000,0.206304,-6.455797e-02,0.522350
depression,-0.034816,2.000000e-01,0.089306,0.206304,1.000000,4.082483e-01,-0.155963
health,-0.248734,3.456006e-16,-0.136722,-0.064558,0.408248,1.000000e+00,0.212238
weight,-0.877837,-7.278253e-01,-0.344342,0.522350,-0.155963,2.122382e-01,1.000000

In [13]:
cov_matrix_q2

,individual,sex,age,IQ,depression,health,weight
individual,9.166667,1.388889,23.888889,-40.652778,-0.055556,-0.777778,-53.888889
sex,1.388889,0.277778,3.666667,-3.500000,0.055556,0.000000,-7.777778
age,23.888889,3.666667,802.444444,70.833333,1.333333,-4.000000,-197.777778
IQ,-40.652778,-3.500000,70.833333,733.319444,2.944444,-1.805556,286.805556
depression,-0.055556,0.055556,1.333333,2.944444,0.277778,0.222222,-1.666667
health,-0.777778,0.000000,-4.000000,-1.805556,0.222222,1.066667,4.444444
weight,-53.888889,-7.777778,-197.777778,286.805556,-1.666667,4.444444,411.111111